<input type="file" (change)="onFileChanged($event)" title="Choose a video please" accept=".txt, .csv">

<div *ngIf="initialFileData && initialFileData.length>0">
    <h3>Първоначална информация от избрания файл</h3>
    <table>
        <tr>
            <th>EmpID</th>
            <th>ProjectID</th>
            <th>DateFrom</th>
            <th>DateTo</th>
        </tr>
        <tr *ngFor="let data of initialFileData">
            <td>{{data[0] ? data[0] : ""}}</td>
            <td>{{data[1] ? data[1] : ""}}</td>
            <td>{{data[2] ? data[2] : ""}}</td>
            <td>{{data[3] ? data[3] : ""}}</td>
        </tr>
    </table>
</div>

<div *ngIf="processed">
    <div *ngIf="longestWorkInTeam.length >0">
        <h3>Служители които са работоли най-дълго заедно по проекти</h3>
        <app-display-result *ngFor="let pair of longestWorkInTeam" [longPairOnProjects]="pair"></app-display-result>
    </div>
    <p *ngIf="longestWorkInTeam.length ===0">Няма служители
        които са работили заедно по проекти!</p>
</div>